<div class="text-center mt-5 cover-page">
  <div class="row">
    
    <div class="col-md-6 d-flex align-items-center justify-content-center pt-5 pb-0">
      <%= render 'shared/cover' %>
    </div>

    <div class="col-md-6">

      <h2>Iniciar sesión</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label 'contraseña' %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Iniciar sesión", class: 'btn btn-cream' %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>