<div class="text-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Editar perfil</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label 'Nombre' %><br />
          <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label 'Email' %><br />
          <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label 'Contraseña' %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Confirma tu contraseña' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label 'Contraseña actual' %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: 'btn btn-cream' %>
        </div>
      <% end %>

      <h3>Cancelar mi cuenta</h3>

      <p>No estás feliz?<%= button_to "Cancelar mi cuenta", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Estás seguro?" }, method: :delete %></p>

      <%= link_to "Atrás", :back %>

    </div>
  </div>
</div>